<% provide(:title, 'Log in') %>
<h1>Log in</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
<!-- to use form_for(@user), @user needs to be an Active Record object. also with AR rails knows to create a form that posts to the /users path. here we have to be explicit re: url noting that form_for still knows to post to that path -->
	<%= form_for(:session, url: login_path) do |f| %>

		<%= f.label :email %>
		<%= f.email_field :email, class: 'form-control' %>

		<%= f.label :password %>
		<%= f.password_field :password, class: 'form-control' %>

		<%= f.submit "Log in", class: "btn btn-primary" %>
	<% end %>

	<p>New User? <%= link_to "Sign up now!", signup_path %></p>

	</div>
</div>