<header class="navbar navbar-fixed-top">
<div class="container">
<!-- embedded ruby allows us to create named routes -->
<%= link_to "iLostProperty", root_path, id: "logo" %>
	<nav>
		<ul class="nav nav-pills navbar-right">
			<% if logged_in? %>
			<li style="float: right;"><%= link_to "Home", user_items_path(user_id: current_user.id) %></li>
			<li style="float: right;"><%= link_to "Help", help_path %></li>
			<li style="float: right;"><%= link_to "Items", '#' %></li>
			<li class="dropdown" style="float: right;">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			Account <b class="caret"></b>
			</a>
			<ul class="dropdown-menu" style="float: right;">
				<li><%= link_to "Settings", '#' %></li>
				<li class="divider"></li>
				<li> <%= link_to "log out", logout_path, 
				method: "delete" %></li>
			</ul>
			<% else %>
			<li style="float: right;"><%= link_to "Log in", login_path %></li>
			<% end %>
		</ul>
	</nav>
</div>
</header>