
<% provide(:title, @user.name) %>
<div class="jumbotron">

<div class="container">
	<div class="row">
		<div class="col-md-4 gravatar-container">
			<%= gravatar_for @user %>
			<div class="about-user">
				<h3 style="margin-top: 0px;"><%= @user.name %></h3>
				<h4 style="color: #777"><%= @user.location %></h4>
			</div>
		</div>
		<div class="col-md-4 button-container">
			<div id="new_lost_item"><h3>Lost property?</h3></div>
			<div id="item_lost_form">
    	<%= render "partials/item_lost_form" %>
   		</div>
		</div>
		<div class="col-md-4 button-container">
			<div id="new_found_item"><h3>Found property?</h3></div>
		</div>
	</div>
</div>
<br>

 <% if @user.items.any? %>
      <%= render "partials/item_lost_list" %>
   		<%= render "partials/item_lost_map" %>
  <%end%>

<% 
=begin %>
   	<div id="item_found_form">
    	<%= render "partials/item_found_form" %>
   </div>
<% 
=end %>

</div>

<script type="text/javascript">

$(document).ready(function(){
    $('#new_lost_item').on('click', function(event) {
         $('#item_lost_form').toggle('show');
    });
});



// $(document).ready(function(){
//     $('#new_found_item').on('click', function(event) {        
//          $('#item_found_form').toggle('show');
//     });
// });


</script>

